1. Lanza una moneda al aire 10 veces, ¿cuantos resultados posibles forman parte del espacio muestral?.

In [3]:
def espacio_muestral_moneda(tiros):
    return 2**tiros

In [4]:
espacio_muestral_moneda(10)

1024

2. En un aeropuerto se tiene a 10 pasajeros esperando en la sala de preembarque, la polícia debe controlar a 3 de ellos. ¿Cuantas combinaciones posibles se pueden obtener?.

In [6]:
#permutación

print(10*9*8)

720

In [8]:
#combinatoria
print(10*9*8/(3*2*1))

120.0

In [9]:
import numpy as np

In [20]:
#permutación formula
def permutacion(N,n):
    return np.math.factorial(N)/(np.math.factorial(n)*np.math.factorial(N-n))

In [21]:
permutacion(10,3)

120.0

In [18]:
def combinatoria(N,n):
    return np.math.factorial(N)/np.math.factorial(N-n)

In [22]:
combinatoria(10,3)

720.0

3. La Agencia Nacional de Seguridad Vial realizó una investigación para saber si los conductores de están usando sus cinturones de seguridad. Los datos muestrales fueron los siguientes:<br>
Conductores que emplean el cinturón <br>

![Ejercicio](../_src/assets/ejercicio3.PNG)

- a) ¿Qué metodo cree que se utilizo para asignar probabilidades?.

In [23]:
# método frecuentista

- b) Construya un cuadro similar, pero con la asignación de probabilidades.

In [39]:
import pandas as pd

In [40]:
diccionario = {"region": ["norte", "noroeste", "sur", "centro", "total"],
              "si": [148, 162, 296, 252, 858], "no": [52, 54, 74, 48, 228]}

In [51]:
df = pd.DataFrame(diccionario)

In [52]:
df

     region   si   no
0     norte  148   52
1  noroeste  162   54
2       sur  296   74
3    centro  252   48
4     total  858  228

In [53]:
df["si"] = df["si"]/(858 + 228)

In [54]:
df["no"] = df["no"]/(228 + 858)

In [55]:
df

     region        si        no
0     norte  0.136280  0.047882
1  noroeste  0.149171  0.049724
2       sur  0.272560  0.068140
3    centro  0.232044  0.044199
4     total  0.790055  0.209945

- c) ¿Cuál sería el mejor método pára estimar la probabilidad de que en Estados Unidos un conductor lleve puesto el cinturón?.

In [56]:
df["si"][4]

0.7900552486187845

- d) Un año antes, la probabilidad en Argentina de que un conductor llevara puesto el cinturón era 0.75. El director de ANSV, se esperaba que la probabilidad llegara a 0.78. ¿Estará satisfecho con los resultados del estudio? (Utilizar tabla adjunta 
(![Ejercicio](../_src/assets/ejercicio3.PNG)


- e) ¿Cuál es la probabilidad de que se use el cinturón en las distintas regiones del país? ¿En qué región se usa más el cinturón?(Utilizar misma tabla que el ejercicio anterior).

In [57]:
df1 = pd.DataFrame(diccionario)

In [59]:
df1["total"] = df1["si"]  + df1["no"]

In [61]:
df1

     region   si   no  total
0     norte  148   52    200
1  noroeste  162   54    216
2       sur  296   74    370
3    centro  252   48    300
4     total  858  228   1086

In [62]:
df1["si"] = df1["si"]/df1["total"]

In [63]:
df1["no"] = df1["no"]/df1["total"]

In [64]:
df1

     region        si        no  total
0     norte  0.740000  0.260000    200
1  noroeste  0.750000  0.250000    216
2       sur  0.800000  0.200000    370
3    centro  0.840000  0.160000    300
4     total  0.790055  0.209945   1086

4. Crear una funcion que permita calcular a probabilidad de los siguientes eventos en un baraja de 52 cartas.<br>
- Obtener una carta roja.<br>
- Obtener una carta negra.<br>
- Obtener una pica.<br>
- Obtener un trébol.<br>
- Obtener un corazón.<br>
- Obtener un diamante.<br>

In [71]:
def probabilidad_cartas(entrada):
    total_cartas = 52
    cartas_rojas = total_cartas/2
    cartas_negras = total_cartas/2
    pitrecodi = total_cartas/4
    
    if entrada in ("negra", "roja"):
        probabilidad = cartas_rojas / total_cartas
        return probabilidad
    elif entrada in ("trébol", "pica", "corazón", "diamante"):
        probabilidad = pitrecodi / total_cartas
        return probabilidad
    else:
        print("No es posible calcular probabilidad, inténtelo de nuevo con otra consulta")

In [74]:
probabilidad_cartas("trébol")

0.25

5. La probabilidad de que salga un 7 o un 8 al seleccionar una carta de una baraja de las 52 cartas que contiene el mazo. <br>

In [83]:
4/52 + 4/52

0.15384615384615385

6. La probabilidad de tu país gane el mundial de fútbol.<br>

In [77]:
1/32*100

3.125

7. Un experimento que tiene tres resultados es repetido 50 veces y se ve que E1 aparece 20 veces, E2 13 veces y E3 17 veces. Asigne probabilidades a los resultados.<br>

In [78]:
total = 20 + 13 + 17
print(20/total)
print(13/total)
print(17/total)

0.4
0.26
0.34

## Desafíos complementarios 

### Investiga e intenta resolver los siguientes ejercicios

1. Si la probabilidad de que un cliente pague en efectivo (E) es 6/15, con tarjeta de crédito (TD) es 7/15 y con tarjeta de débito (TD) es 2/15. Hallar la probabilidad de que dos clientes sucesivos que pagan sus cuentas lo hagan:<br>

 a) el primero en efectivo y el segundo con tarjeta de crédito.<br>
 b) Los dos clientes en efectivo<br>

In [79]:
(6/15)*(7/15)

0.18666666666666668

In [81]:
(6/15)*(6/15)

0.16000000000000003

2. La probabilidad de que un Henry repruebe el M1 de 0.8, de que apruebe M2 es 0.5 y de que repruebe el M3 es de 0.4.<br>

 (Los eventos no interfieren entre si) <br>

![Tabla](../_src/assets/probhenry.PNG)

In [82]:
0.8*0.5*0.4

0.16000000000000003